@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #F8FAF7;
    color: #1B4332;
    font-family: "Poppins", sans-serif;
  }
}